/* styklesheet for "https://github.com/Mervodactyl/howQuery" */
/* Directory: "howQuery" */

*,
::before,
::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: blue;
}

section {
  margin: 20px;
  padding: 10px;
  border: 4px solid #d2e5e5;
}

.hover {
  height: 300px;
  width: 100%;
  background-color: #ecebed;
}

.example-4 {
  height: 700px;
}

#moving-box {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  background-color: #ffffd1;
}
